.j1{
  background-color: rgb(124, 27, 233);
  color: white;
}
.j2{
  background-color: rgb(212, 79, 24);
  color: white;
}
.j3{
  background-color: rgb(26, 96, 84);
  color: white;
}
.j4{
  background-color: rgb(184, 222, 26);

}
.j5{
  background-color: rgb(244, 142, 201);
}
.mg{
  margin-bottom: 0px;
  cursor: pointer;
}
